html,
body {
  height: 100%;
  margin: 0;
  background-color: rgb(173, 216, 230);
}
#centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
#titlebox {
  margin-top: 1.1rem;
  width: 16rem;
}
#title {
  text-align: center;
}
#buttonbox {
  margin-top: 4rem;
}

#welcome {
  margin-top: 15rem;
}
#text {
  margin-top: 2rem;
  font-size: larger;
}
#poweredby {
  margin-top: auto;
  padding-bottom: 10px;
}
#authortext {
  margin-top: 10px;
}
#button {
  background-color: rgb(230, 230, 250);
  width: 6rem;
  height: 3rem;
  font-size: medium;
  border-color: rgb(147, 112, 219);
  border-width: 0.2rem;
  border-radius: 1rem;
}
#button:hover {
  background-color: rgb(147, 112, 219);
  color: white;
  cursor: pointer;
}
